:root {
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#create {
  display: block;
  align-items: center;
  justify-content: center;
  margin: auto;

}

.completed {
  text-decoration:line-through;
}